.page-content{
	background: #e5e5e5;
}
.portlet-body{
	background: #FFFFFF !important;	
}
.customPanel {
	border: 3px solid #404040 !important;	
}
.greenPanel{
	border: 5px solid #404040 !important;
}
.customPanel-title {
	background: #404040 !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	border: 0px !important;
}
.font-sm {
	font-size: small !important;
	text-align: center !important;
	color:white !important;
	font-weight: bold;
	margin-bottom: 0px !important;
    margin: 5px !important;	
}
.progress-bar-purple {
      background-color: purple !important;
}
.padding-right15 {
	padding-right:15px !important;
}
.font12{
	font-size: 12px !important;
}

.page-content .page-breadcrumb.breadcrumb {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: none;
  padding-right: 30px;
  padding-left: 8px;
  margin-top: 15px;
  margin-bottom: 25px;
  border:0px !important;  
  background-color: #404040;
  color: white;
  }
  
.page-content .page-breadcrumb.breadcrumb > li > a, 
.page-content .page-breadcrumb.breadcrumb > li > i, 
.page-content .page-breadcrumb.breadcrumb > li > span {
  color: white;
  font-size: 14px;
  text-shadow:none;
  }
  
.btn dropdown-toggle{
background-color: #e02222;
}  
  